form {
  margin: 158px auto;
  padding: 10px;
  border-radius: 6px;
}
input {
  display: block;
  width: 250px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 6px;
  border: none;
  background: #80808066;
  color: #ffffff;
}

body {
  background: #000000;
  transition: all 0.5s ease-in-out;
}

.conatiner {
  text-align: center;
  max-width: 450px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 39px;
  margin-bottom: 20px;
  transition: all 1s ease-in-out;
  color: #ffffff;
  border: 5px solid;
  padding: 45px;
  border-radius: 50px;
  background-image: linear-gradient(8deg, #9f4545, transparent);
}

div {
  display: inline-block;
}

#sec,
#min,
#hour {
  position: relative;
  font-size: 34px;
  margin: 0 5px;
  font-size: 85px;
  color: #ffffff;
}
@media (max-width: 450px) {
  #sec,
  #min,
  #hour {
    font-size: 65px;
  }
}
#min::before,
#hour::before {
  content: ":";
  position: absolute;
  left: 95%;
  top: 43%;
  transform: translateY(-50%);
}

#sec::after,
#min::after,
#hour::after {
  content: "";
  position: absolute;
  font-size: 17px;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
}

#sec::after {
  content: "sec";
}

#min::after {
  content: "min";
}

#hour::after {
  content: "hr";
}

.btn-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  width: 75px;
  height: 30px;
  border-radius: 29px;
  margin: 0px 12px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  background: #8f5c6d;
  color: white;
  border: 1px solid;
  line-height: 29px;
}

.setinputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#time {
  font-size: 40px;
}
